{% extends "templates/index.html" %}

{% block maincontent %}
<div id="images">
	<div class="imageContain">
		<div class="row">
			<div class="col-sm-6"><div id="image1">
		        <div class="image"><img src = "static/dark-brown-milk-candy.jpg" alt="chocolate pieces on foil"></div>
				<div class="text"><span>Chocolate. Enough Said. Pro tip: make oatmeal w/ banana and then break up small pieces of dark chocolate and let them melt into little pools of delight</span></div>
			</div></div>

		 	<div class="col-sm-6"><div id="image2">
		        <div class="image"><img src = "static/food-healthy-soup-leek.jpg" alt = "leek soup"></div>
				<div class="text"><span>The ultimate comfort in the winter. Cook on the stove until things are soft, then blend. Optional--stir in milk at the end. 2 combos: (1) squash/shallots/ginger/curry powder; (2) leeks/potatoes/dill</span></div>
			</div></div>
		</div>

		<div class="row">
		 	<div class="col-sm-6"><div id="image3">
		        <div class="image"><img src = "static/bread-food-healthy-breakfast.jpg" alt = "loaves of bread"></div>
				<div class="text"><span>Bread--it keeps you alive. 5/7 lunches: bread w/ slices of cheddar cheese and salt. Add mango chutney to get fancy.</span></div>
			</div></div> 

		 	<div class="col-sm-6"><div id="image4">
		    	<div class="image"><img src = "static/food-kitchen-cutting-board-cooking.jpg" alt = "spices and a cutting board"></div>
				<div class="text"><span>Favorite spice combinations: (1) garlic powder, onion powder, chile, cumin; (2) curry powder, ginger; (3) dill, paprika</span></div>
			</div></div>
		</div>

		<div class="row">
		 	<div class="col-sm-6"><div id="image5">
		    	<div class="image"><img src = "static/food-pizza-slice-fast-food.jpg" alt = "pizza"></div>
				<div class="text"><span>The thinner the better.</span></div>
			</div></div> 

			<div class="col-sm-6"><div id="image6">
		    	<div class="image"><img src = "static/food-lunch-kitchen-eat.jpg" alt = "pancakes"></div>
				<div class="text"><span>These just look really good to me right now.</span></div>
			</div></div>
		 </div>

		 <div class="row">
		 	<div class="col-sm-6"><div id="image7">
		    	<div class="image"><img src = "static/cocopuffs.png" alt = "cocoa puffs"></div>
				<div class="text"><span>Many a breakfast,lunch,dinner of cereal. It is addicting..</span></div>
			</div></div>
		 
		 	<div class="col-sm-6"><div id="image8">
		    	<div class="image"><img src = "static/food-lunch-meal-pasta.jpg" alt = "plain pasta"></div>
				<div class="text"><span>Pasta--the ultimate pantry savior. Make it three ways: (1) plain with tomato paste from the tube and some cheese on top; (2) sautéed with olive oil, garlic and chile pepper flakes w/ parsley on top; (3) wait no, I usually just do the former two. </span></div>
			</div></div>
		</div>

		<div class="row">
			<div class="col-sm-6"><div id="image9">
		    	<div class="image"><img src = "static/food-healthy-morning-cereals.jpg" alt = "granola"></div>
				<div class="text"><span>Granola--much better homeade. Mix oats with oil/honey/whatever else and throw in a 350 degree oven for 25min. It's that easy.</span></div>
			</div></div>

			<div class="col-sm-6"><div id="image10">
		    	<div class="image"><img src = "static/coffee-1242153_1920.jpg" alt = "coffe with smile"></div>
				<div class="text"><span>I really should cut back on the coffee. It's just so delicious.</span></div>
			</div></div>
		</div>

	</div> 			
</div>
{% endblock %}

{% block subcontent %}
	<h3> <3, SNAX</h3>
	<p>SNAX does not sit still long enough to use technologies (pen and paper included), but she agreed to share some of her recipes with I, her trusty go-between, so that I could capture them here.</p>
	<p>SNAX was the resident GUFF chef at Baker House. Sadly, she got banished and SUDS replaced her. She wanted to share some recipes here, but she got so hungry looking at all of the stock photos (thanks, <a href="https://www.pexels.com/">Pexels</a> ) that she abandoned me here. So, in lieu, please enjoy the Grad School Diet</p>
	<p> Each picture tells a story. Click to explore! </p>
{% endblock %}

{% block resources %}
{% endblock %}
