{% extends "templates/index.html" %}

{% block maincontent %}
	<h3>Welcome to Snippets</h3>
	<p>You have entered the mind map of my graduate studies here at the University of Michigan. Actually, my mind is much more messy--which is why I built this site!</p>

	<p>Here, I keep track of different links/tutorials/thoughts, "snippets", that I are not in my little notebooks that I would forget otherwise or have stacked up in my favorites bar which like the junk drawer in my little room--who knows what's in there.</p>

	<p>Anyhow, I hope that you find this useful or so worthless that it inspires you to stretch your legs, run around outside, meet a friend, read a book, take a nap, or write a novel.</p>
{% endblock %}

{% block subcontent %}
<h3>A cup of tea?</h3>

<p>I would offer you a cup of tea but it is hard to reach you from behind this glass wall. 
	So enjoy this virtual mug instead.</p>
<div class="sidebar"></br><img id="teacup" src="static/tea_cropped.jpg" alt="Cup of Tea"></div>
{% endblock %}

{% block resources %}
{% endblock %}
