<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script language="javascript" src="static/jscript.js"></script>

	<link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>

<body>

	<header>
		<h1><img src = "static/snippets_hw_clip.png" alt = "Snippet"></h1>
		<h2>{{title}}</h2>
		<input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
		<nav class="menu">
			<ul>
			    <li><a class="home" href="home" >Home</a></li>
			    <li><a class="think" href="think">Think</a>
			    	<ul>
			        	<li><a class="think" href="think">Memory</a></li>
			        	<li>chocolate flowers</li>
			    	</ul>
			    </li>
			    <li><a class="do" href="do">Do</a></li>
			    <li><a class="sense" href="sense">Sense</a></li>
			    <li><a class="feel" href="feel">Feel</a></li>
			</ul>
		  <label for="navbar-checkbox" class="navbar-handle"></label>
		</nav>
	</header>


	<section id = "main">
		{% block maincontent %}
		REPLACE THIS PART WITH THE MAIN CONTENT
		{% endblock %}
	</section>

	<section id = "resources">
		<h2>Resources</h2>
		<ol>
			{% block linklist %}
			<li>{link1}</li>
			<li>{link2}</li>
			<li>{link3}</li>
			{% endblock %}
		</ol>
  	</section>

	<footer>
		<p>&copy; Made by <a class="contact" href="contact">Ali</a></p>
	</footer>
	
</body>
</html>
