<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script language="javascript" src="static/jscript.js"></script>

	<link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>

<body>
	<div id="wrapper">

		<header>
			<h1><img src = "static/snippets_hw_clip.png" alt = "Snippet"></h1>
			<h2>{{title}}</h2>
		</header>

		<input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
			<nav class="menu">
				<ul>
					<li><a class="home" href="home" >Home</a></li>
					<li><a class="think" href="think">Thoughts</a></li>
					<li><a class="do" href="do">References</a></li>
					<li><a class="sense" href="sense">Recipes</a></li>
				</ul>
			<label for="navbar-checkbox" class="navbar-handle"></label>
			</nav>
		</input>
	
		<section id="content1">
			<div id="maincontent">
				{% block maincontent %}
				REPLACE THIS PART WITH THE MAIN CONTENT
				{% endblock %}
			</div>
			<div id="subcontent">
				{% block subcontent %}
				REPLACE THIS PART WITH THE SUB CONTENT
				{% endblock %}
			</div>				
		</section>

		<section id="content2">
			<h3>Resources</h3>
			 <div class="dropdown">
			  <button onclick="myFunction()" class="dropbtn">Resources</button>
			  <div id="myDropdown" class="dropdown-content">
			  	{% block linklist %}
			    <a href="#">Link 1</a>
			    <a href="#">Link 2</a>
			    <a href="#">Link 3</a>
			    {% endblock %}
			  </div>
			</div>
	  	</section>
		
		<footer>
			<p>&copy; Made by <a class="contact" href="contact">Ali</a></p>
		</footer>

</div>
	
</body>
</html>
