<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>

<body>

	<header>
		<h1><img src = "static/snippets_hw_clip.png" alt="SNIPPETS" height="100"></h1>
		<h2>{{title}}</h2>
		<input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
		<nav class="menu">
			<ul>
				<li><a class="home" href="home">Home</a></li>
				<li><a class="think" href="think">Think</a></li>
					<ul>
						<li><a class="thinksub" href="think01mem">Memory</a></li>
					</ul>
				<li><a class="do" href="do">Do</a></li>
				<li><a class="sense" href="sense">Sense</a></li>
				<li><a class="feel" href="feel">Feel</a></li>
			</ul>
			<label for="navbar-checkbox" class="navbar-handle"></label>
		</nav>
	</header>


	<section id = "main">
		{% block maincontent %}
		REPLACE THIS PART WITH THE MAIN CONTENT
		{% endblock %}
	</section>

	<section id = "resources">
		<h2>Resources</h2>
		<ol>
			{% block linklist %}
			<li>{link1}</li>
			<li>{link2}</li>
			<li>{link3}</li>
			{% endblock %}
		</ol>
  	</section>

	<footer>
		<p>&copy; Made by <a class="contact" href="contact">Ali</a></p>
	</footer>
	
</body>
</html>
