{% extends "templates/index.html" %}

{% block maincontent %}
<h3>Concepts to know for Information Retrieval</h3>
<ol>
	<li>Linear Algebra</li>
	<li>Probability Basics</li>
	<li>Similarity Equations</li>
	<li>Machine Learning Algorithms</li>
	<li>Linguistic Models</li>
	<li>Text Classification</li>
	<li>Text Preprocessing</li>
	<li>Query Processing</li>
	<li>Query Modification</li>
	<li>Index/Ranking</li>
	<li>Text Summarization</li>
	<li>Information Extraction</li>
	<li>Sentiment Analysis</li>
	<li>Network Analysis</li>
	<li>Clustering</li>
	<li>Question and Answer</li>
	<li>Natural Language Processing</li>
	<li>Text Compression</li>
	<li>Web Crawling Techniques</li>
	<li>Dimensionality Reduction</li>
	<li>Information Retrieval Evaluation Metrics</li>
	<li>System Evaluation Metrics</li>
</ol>
{% endblock %}

{% block subcontent %}
<h3>Equations</h3>
<ul>
	<li>Chi-Squared</li>
	<li>F1</li>
	<li>Manhattan Distance</li>
	<li>Euclidean Distance</li>
	<li>Cosine Distance</li>
	<li>Zipf's Law</li>
	<li>Mead's Law</li>
	<li>Mutual Information</li>
	<li>Kappa</li>
	<li>Maximal Marginal Relevance</li>
</ul>
{% endblock %}

{% block resources %}
<div id="resources" class="col-xs-12">
	<h3>Resources</h3>
	<ul>
		<li><a href="http://www-nlp.stanford.edu/IR-book/">Introduction to Information Retrieval Textbook</a></li>
		<li><a href="http://www.hray.com/5264/math.htm">Math for IR by Rich Ackerman</a></li>
		<li><a href="http://www.jilp.org/cbp/Daniel-slides.PDF">Perceptrons for Dummies</a></li>
		<li><a href="https://www.toptal.com/machine-learning/machine-learning-theory-an-introductory-primer">An Introduction to Machine Learning</a></li>
	</ul>
</div>
{% endblock %}
