{% extends "templates/index.html" %}

{% block maincontent %}
<h3>Concepts to know for Information Retrieval</h3>
<ol>
	<li>Machine Learning Algorithms</li>
	<li>Evaluation Metrics</li>
	<li>Similarity Equations</li>
	<li>Linear Algebra</li>
	<li>Linguistic Models</li>
	<li>Query Processing</li>
</ol>
{% endblock %}

{% block subcontent %}
<h3>Equations</h3>
<ul>
	<li>Chi-Squared=</li>
	<li>F1=Something</li>
	<li>Manhattan Distance=</li>
	<li>Euclidean Distance=</li>
	<li>Cosine Distance=</li>
</ul>
{% endblock %}

{% block resources %}
<h3>Resources</h3>
<ul>
	<li><a href="http://www-nlp.stanford.edu/IR-book/">Introduction to Information Retrieval by Christopher D. Manning, Prabhakar Raghavan and Hinrich Schütze</a></li>
	<li><a href="http://www.hray.com/5264/math.htm">Math for IR by Rich Ackerman</a></li>
	<li><a href="http://www.jilp.org/cbp/Daniel-slides.PDF">Perceptrons for Dummies</a></li>
	<li><a href="https://www.toptal.com/machine-learning/machine-learning-theory-an-introductory-primer">An Introduction to Machine Learning</a></li>
</ul>
{% endblock %}
